@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 3 7 18;
    --card: 249 250 251;
    --card-foreground: 3 7 18;
    --border: 229 231 235;
    --primary: 147 51 234;
    --primary-foreground: 255 255 255;
  }

  .dark {
    --background: 3 7 18;
    --foreground: 249 250 251;
    --card: 17 24 39;
    --card-foreground: 249 250 251;
    --border: 31 41 55;
    --primary: 168 85 247;
    --primary-foreground: 3 7 18;
  }
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  transition: background-color 0.3s, color 0.3s;
}